*{
	margin: 0;
	padding: 0;
} 
body{
	font-family: arial, sans-serif;
	font-size: 14px;
	background: #16a086;
	line-height: 1.3;
	color: #444;
}
.container{
	width: 840px;
	margin: 0 auto;	
}
.about-block{
	padding: 50px 0;
	text-align: center;
}
.about-block h2{
	font-size: 28px;
	font-weight: normal;
	color: #fff;
	padding: 0 0 7px;	
}
.title-info{
	color: #fff;
	padding: 0 0 40px;
}
.items{
	overflow:hidden;	
}
.item{
	width: 33.3333%;
	float: left;
	text-align: left;
}
.item-in{
	margin: 0 30px;
	background: #fff;
}
.item-photo{
	width: 220px;
	height: 228px;
	position: relative;	
}
.item-photo img{
	display: block;
	width: 100%;
	height: auto;
}
.social{
	list-style: none;
	width: 180px;	
	padding: 8px 0 5px;
	position: absolute;
	top: 96px;
	left: 20px;
	background: rgba(55,165,143,0.5);
	text-align: center;
	display:none;
}
.item-photo:hover .social{
	display: block;
}
.social li{
	display: inline-block;
	padding: 0 5px;
}
.social a{
	width: 30px;
	height: 30px;
	display: block;	
}
.social a.fb{
	background: url(../images/i_fb.png) 0 0 no-repeat;	
}
.social a.tw{
	background: url(../images/i_tw.png) 0 0 no-repeat;	
}
.social a.gplus{
	background: url(../images/i_gplus.png) 0 0 no-repeat;	
}
.social a.vimeo{
	background: url(../images/i_vimeo.png) 0 0 no-repeat;	
}
.item-info{
	padding: 18px 9px;
	overflow: hidden;
}
.item-info h4{	
	font-size: 18px;
	font-weight: normal;
	text-align: center;
}
.item-info h5{
	padding: 0 0 16px;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	text-align: center;
}
.item-info p{
	line-height: 20px;
}